body{
    font-family: 'Poppins', sans-serif;
    margin: 0; 
}   
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-width{
    width: 50%;
    padding-left: 2px;
}
.middle-width img{
    width: 80%;
}
#middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  10px 10px 40px gray;
}
#Full{
    border-left: 5px solid orange;
}
#Baby{
    border-left: 5px solid blue;
}
footer p{
    text-align: center;
}